<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bonus_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,672},{70,72}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{70,72}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>bonus_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,321},{48,34}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,41},{48,34}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>bonus_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,138},{54,36}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,40},{54,36}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>bonus_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,84},{52,40}}</string>
                <key>offset</key>
                <string>{-3,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,36},{52,40}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>bonus_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,357},{52,34}}</string>
                <key>offset</key>
                <string>{1,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,42},{52,34}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>bonus_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,593},{52,66}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{52,66}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>bonus_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,593},{76,52}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,24},{76,52}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>elephant-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,1438},{274,270}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,93},{274,270}}</string>
                <key>sourceSize</key>
                <string>{458,458}</string>
            </dict>
            <key>elephant-puke.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1438},{364,266}}</string>
                <key>offset</key>
                <string>{46,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,95},{364,266}}</string>
                <key>sourceSize</key>
                <string>{458,458}</string>
            </dict>
            <key>elephant-saute.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,1438},{312,352}}</string>
                <key>offset</key>
                <string>{-9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,49},{312,352}}</string>
                <key>sourceSize</key>
                <string>{458,458}</string>
            </dict>
            <key>ennemis_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,602},{68,74}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{68,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ennemis_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,2},{80,40}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,36},{80,40}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ennemis_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,647},{74,70}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{74,70}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ennemis_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,332},{78,60}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{78,60}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ennemis_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,194},{58,58}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,17},{58,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ennemis_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,254},{54,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{54,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ennemis_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,626},{74,20}}</string>
                <key>offset</key>
                <string>{-2,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,45},{74,20}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>jumpButton-selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,2},{150,207}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,6},{150,207}}</string>
                <key>sourceSize</key>
                <string>{202,229}</string>
            </dict>
            <key>jumpButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,458},{136,133}}</string>
                <key>offset</key>
                <string>{2,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,72},{136,133}}</string>
                <key>sourceSize</key>
                <string>{202,229}</string>
            </dict>
            <key>particle.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,602},{22,22}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{22,22}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>pause-off.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,508},{96,92}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{96,92}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>pause-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,412},{96,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,16},{96,94}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>pukeButton-selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,154},{165,189}}</string>
                <key>offset</key>
                <string>{13,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,23},{165,189}}</string>
                <key>sourceSize</key>
                <string>{197,229}</string>
            </dict>
            <key>pukeButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,321},{138,135}}</string>
                <key>offset</key>
                <string>{1,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,70},{138,135}}</string>
                <key>sourceSize</key>
                <string>{202,229}</string>
            </dict>
            <key>serpent.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1434,768}}</string>
                <key>offset</key>
                <string>{68,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,0},{1434,768}}</string>
                <key>sourceSize</key>
                <string>{1612,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ingame-ipad.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:947f1025fceee36b19c32a68e249feaf$</string>
            <key>textureFileName</key>
            <string>ingame-ipad.png</string>
        </dict>
    </dict>
</plist>
