<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bonus_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,483},{59,61}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{59,61}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>bonus_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,865},{41,29}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,34},{41,29}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>bonus_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,833},{47,31}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,33},{47,31}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>bonus_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,834},{43,35}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,29},{43,35}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>bonus_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,834},{45,29}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,35},{45,29}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>bonus_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,490},{45,57}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,10},{45,57}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>bonus_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,127},{65,45}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{65,45}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>elephant-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,490},{230,226}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,77},{230,226}}</string>
                <key>sourceSize</key>
                <string>{382,382}</string>
            </dict>
            <key>elephant-puke.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{304,224}}</string>
                <key>offset</key>
                <string>{39,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,78},{304,224}}</string>
                <key>sourceSize</key>
                <string>{382,382}</string>
            </dict>
            <key>elephant-saute.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,228},{260,296}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,39},{260,296}}</string>
                <key>sourceSize</key>
                <string>{382,382}</string>
            </dict>
            <key>ennemis_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,401},{59,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{59,63}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>ennemis_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,43},{67,33}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,31},{67,33}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>ennemis_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,174},{63,59}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{63,59}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>ennemis_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,2},{67,39}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{67,39}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>ennemis_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,833},{49,49}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,14},{49,49}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>ennemis_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,78},{47,65}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,1},{47,65}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>ennemis_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,462},{63,19}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{63,19}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>jumpButton-selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,703},{126,173}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,5},{126,173}}</string>
                <key>sourceSize</key>
                <string>{168,191}</string>
            </dict>
            <key>jumpButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,718},{114,111}}</string>
                <key>offset</key>
                <string>{2,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,60},{114,111}}</string>
                <key>sourceSize</key>
                <string>{168,191}</string>
            </dict>
            <key>particle.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,834},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>pause-off.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,318},{81,77}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,13},{81,77}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>pause-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,235},{81,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,13},{81,79}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>pukeButton-selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,544},{138,157}}</string>
                <key>offset</key>
                <string>{11,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,20},{138,157}}</string>
                <key>sourceSize</key>
                <string>{164,191}</string>
            </dict>
            <key>pukeButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,718},{116,113}}</string>
                <key>offset</key>
                <string>{1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,58},{116,113}}</string>
                <key>sourceSize</key>
                <string>{168,191}</string>
            </dict>
            <key>serpent.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1195,640}}</string>
                <key>offset</key>
                <string>{57,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,0},{1195,640}}</string>
                <key>sourceSize</key>
                <string>{1343,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ingame-hd.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ec6dd4c72c1ca5ba61272a9e5b99383$</string>
            <key>textureFileName</key>
            <string>ingame-hd.png</string>
        </dict>
    </dict>
</plist>
