<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bonus_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1884,1256},{140,144}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,5},{140,144}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>bonus_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1820,636},{96,70}}</string>
                <key>offset</key>
                <string>{-1,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,81},{96,70}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>bonus_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1956,270},{110,72}}</string>
                <key>offset</key>
                <string>{0,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,81},{110,72}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>bonus_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1956,164},{104,80}}</string>
                <key>offset</key>
                <string>{-5,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,73},{104,80}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>bonus_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1820,708},{106,70}}</string>
                <key>offset</key>
                <string>{2,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,83},{106,70}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>bonus_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,1364},{106,134}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,25},{106,134}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>bonus_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1892,814},{154,106}}</string>
                <key>offset</key>
                <string>{-2,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,47},{154,106}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>elephant-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1164,2870},{550,540}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,187},{550,540}}</string>
                <key>sourceSize</key>
                <string>{916,916}</string>
            </dict>
            <key>elephant-puke.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2870},{728,534}}</string>
                <key>offset</key>
                <string>{93,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,189},{728,534}}</string>
                <key>sourceSize</key>
                <string>{916,916}</string>
            </dict>
            <key>elephant-saute.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,2870},{624,706}}</string>
                <key>offset</key>
                <string>{-17,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,97},{624,706}}</string>
                <key>sourceSize</key>
                <string>{916,916}</string>
            </dict>
            <key>ennemis_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1734,1256},{138,148}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,7},{138,148}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>ennemis_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1956,2},{160,80}}</string>
                <key>offset</key>
                <string>{0,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,73},{160,80}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>ennemis_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1864,922},{150,142}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,18},{150,142}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>ennemis_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1920,382},{156,122}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,31},{156,122}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>ennemis_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1920,540},{116,116}}</string>
                <key>offset</key>
                <string>{-3,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,35},{116,116}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>ennemis_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1918,658},{108,154}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,3},{108,154}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>ennemis_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1820,862},{148,42}}</string>
                <key>offset</key>
                <string>{-3,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,89},{148,42}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>jumpButton-selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,2},{300,414}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,13},{300,414}}</string>
                <key>sourceSize</key>
                <string>{404,458}</string>
            </dict>
            <key>jumpButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,908},{274,268}}</string>
                <key>offset</key>
                <string>{4,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,143},{274,268}}</string>
                <key>sourceSize</key>
                <string>{404,458}</string>
            </dict>
            <key>particle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1820,816},{44,44}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{44,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>pause-off.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,1178},{192,184}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,33},{192,184}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>pause-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1816,1066},{192,188}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,33},{192,188}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>pukeButton-selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,304},{330,378}}</string>
                <key>offset</key>
                <string>{27,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,47},{330,378}}</string>
                <key>sourceSize</key>
                <string>{394,458}</string>
            </dict>
            <key>pukeButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,636},{278,270}}</string>
                <key>offset</key>
                <string>{2,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,141},{278,270}}</string>
                <key>sourceSize</key>
                <string>{404,458}</string>
            </dict>
            <key>serpent.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{2866,1536}}</string>
                <key>offset</key>
                <string>{138,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{317,0},{2866,1536}}</string>
                <key>sourceSize</key>
                <string>{3224,1536}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ingame-ipadhd.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:53db4fb1b05586441fda9f7d65fc78d5$</string>
            <key>textureFileName</key>
            <string>ingame-ipadhd.png</string>
        </dict>
    </dict>
</plist>
